body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color:#E6E6FA;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #FF1493;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
    margin-top: 20px;
}


#questionsContainer {
    margin-top: 20px;
}
